extends layout

block content
  nav
    ul
      li
        a(href="/new")= "New message"
  h1= title
  each val in messages
    div(id="message")
      p(id="text")= val.text 
      p(id="name")= val.user
      p(id="date")= val.added
